In [5]:
import pandas as pd
from scipy import stats
import numpy as np

In [6]:
df = pd.read_csv('sleep.csv')

In [7]:
df

    sleep
0     3.5
1     4.2
2     4.5
3     4.8
4     5.0
5     5.0
6     5.0
7     5.5
8     5.5
9     5.5
10    6.0
11    6.0
12    6.0
13    6.0
14    6.5
15    6.5
16    6.5
17    6.5
18    6.5
19    7.5
20    7.5
21    7.5
22    8.0
23    8.0
24    8.5
25    8.5
26    8.5
27    9.0
28    9.0
29    6.5

In [8]:
df.mean()

sleep    6.45
dtype: float64

In [9]:
stats.ttest_1samp(df['sleep'], 7)

Ttest_1sampResult(statistic=-2.030134731593884, pvalue=0.051604476624949255)

In [10]:
def mean_conf_in(data, confidence=0.90):
    a = 1.0 * np.array(data)
    n = len(a)
    m, s = np.mean(a), stats.sem(a)
    h = s * stats.t.ppf((1 + confidence) / 2., n-1)
    return m, m-h, m+h

In [11]:
mean_conf_in(df)

(6.45, array([5.98967594]), array([6.91032406]))